<form class="mt-4" method="POST" action="">
    <div class="mb-3">
        <label class="search-input">Từ Khoá</label>
        <input type="text" name="q" placeholder="Nhập từ khoá" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label class="gender-input">Từ Khoá</label>
        <select type="text" name="gender" class="form-control" id="gender-input">
            <option value="">-- Chọn giới tính --</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>